@import url('https://fonts.googleapis.com/css?family=Lato|Lora');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900,900i');


html {
	font-size: 16px;
}
.itemMenu{
	text-decoration:none;
	color: grey;
}
.itemMenu:hover{
	color: black;
}
.description{
	display: flex;
}

.menu{
	width: 100%;
	font-family:'Playfair Display', serif;
}
.menu ul li:first-child{
	margin-top: 2rem;
}
.menu ul{
	height: 100%;
	list-style: none;
	justify-content: center;
	display: flex;
	top: 0;
	position: absolute;
	flex-direction: column;
}

.defilement{
	margin-bottom: 0;
	margin-left: -100%;
	opacity:0;
	width:100%;
	font-size: 1rem;
	transition:margin-left 0.5s, width 0s, opacity 1s; 
}

li .itemMenu:hover + .defilement{
	opacity:1;
	margin-left: 0%;
	color: black;
	transition:margin-left 0.5s, width 0s, opacity 1s;
}

.menu ul li{
color: gray;
font-size: 1.5rem;
}
.dimenssionRose{
	height: 100px;
}
.bandeau{
    height: 100vh;
    background-image: url('../img/final final.jpg');
    background-position: top;
    background-position-y: 80%;
    background-size: cover;
}
.imageButton{
	top: 80px;
	height: 400px;
	width: 400px;
	padding: 1em;
	opacity: 0.8;
	margin: 10px;
}
.moderation{
	text-align: center;
	color: gray;
}
.description ul{
	font-family:'Playfair Display', serif;
	margin-top: 2%;
	font-size: 1rem;
	margin-left: 2%;
	width: 30%;
}

.info h4{
	font-family:'Playfair Display', serif;
	margin-left: 3%;
	font-size: 1rem;
	width: 30%;
}

.centrer{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.colunm{
	width: 100%;
	color: white;
	background-image:linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.8)  10%,rgba(0,0,0,0.8)  90%, rgba(0,0,0,0) 100%) ;
	background-position: top;
	background-position-y: 80%;
}
img.tailleMedaille{
	height: 200px;
}
.centertextaward{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.award{
	width: 100%;
	color: white;
	background-image:linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.8)  10%,rgba(0,0,0,0.8)  90%, rgba(0,0,0,0) 100%) ;
	background-position: top;
	background-position-y: 80%;
}
div div.alignement{
	text-align: center;
	font-family:'Playfair Display', serif;
}
.rose{
	font-size: 10px;
	text-align: center;
}

.divflash{
	display: flex;
	justify-content :space-around;
	width: 100%;
	justify-content: center;
}

.divMenu{
	display: flex;
    justify-content: center;
}
.divMenu a{
	height: 20%;
    margin-top: 2vh;
}
.divMenu a img{
	height: 100%;
}
.footer{
	color: white;
	margin-top: 20px;
	display: flex;
}
.degrader{
	background: -webkit-linear-gradient( rgba(0,0,0,0) ,rgba(0,0,0,0.8) 20%);
}
.insta{
	height: 30px;
	width: 30px;
	border-radius: 10px;
}
.artiFooter{
	text-align: center;
	margin-top: 5%;
	width: calc(50% - 20px);
}
.general{
    background-color: black;
	background-image: url('../img/darklogo.png');
	background-attachment: fixed;
	background-size: 100%;
}
div a img.zoomEffectleft{
	height: 40px;
	border-radius: 20px;
}
div a img.zoomEffectleft:hover {
    -moz-transform: rotate(5deg) scale(120);
    -webkit-transform: rotate(5deg) scale(1.20);
    -o-transform: rotate(5deg) scale(1.20);
    -ms-transform: rotate(5deg) scale(1.20);
	transform: rotate(5deg) scale(1.20);
}
@media (orientation:portrait){
	.degraderTel{
		background-image:linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.8)  10%,rgba(0,0,0,0.8)  90%, rgba(0,0,0,0) 100%) ;
	}
	.divMenu a{
		height: 30vw;	
		margin-top: 2vh;
	}
	.centertextaward{
		width: 100%;
	}
	.dimenssionRose{
		height: 50px;
	}
	img.tailleMedaille{
		height: 100px;
	}
	div a img.zoomEffectleft{
		height: 30px;
	}
	.menu ul .fontTel{
		color: gray;
		font-size: 1rem;
		}
		.menu ul .fontTel a{
			color: black;
			}
		.info{
			display: flex;
		}
		.info h4{
			font-size: 1rem;
		}
		.description ul h3{
			font-size: 0.8rem;
			width: 100%;
		}
		.description ul{
			margin-left: 0%;
			margin-top: 0%;
			margin-bottom: 0%;
		}
		.description ul h5{
			font-size: 0.6rem;
			width: 100%;
		}
		.bandeau{
			width: 100%;
			height: 100%;
			background-image: url('../img/final.jpg');
			background-position: top;
			background-position-y: 100%;
			background-position-x: 30%;
			background-size: cover;
		}
		.menu{
			margin-top: 20%;
		}
		.menu ul li{
			width:50%;
			margin-top: 5%;
			color: black;
			text-align: center;
		}
		.defilement{
			width:100%;
			opacity: 1;
			margin: 0%;
			font-size: 0.9rem;
		}
		.footer{
			display: block;
		}
		.artiFooter{
			text-align: center;
			margin-top: 5%;
			width: 100%;
		}
	}

	