@import url('https://fonts.googleapis.com/css?family=Lato|Lora');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900,900i');

html {
	font-size: 16px;
}
.fond{
    background-color: black;
    background-image: url("../img/bouteilleSombre.jpg");
    background-size: 65vh;
    background-repeat: no-repeat;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
}
.textquestion{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-family:'Playfair Display', serif;
}
div div a{
    text-align: center;
    color: white;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
}
div div a:hover{
    color: white;
}
.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
     right: 0;
}
.imagebottom{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
    margin-top: 5%;
}
.messagebottom{
    font-family:'Playfair Display', serif;
    font-size: 0.7rem; 
    color: white;
    text-align: center
}
@media (orientation:portrait){
    .messagebottom{
        font-size: 1.5rem; 
    }
    .imagebottom{
        height: 15vh;
        margin-top: 45%;
    }
    .textquestion{
        text-align: center;
        color: white;
        font-size: 2.5rem;
        font-family:'Playfair Display', serif;
    }
    btnheight{
        font-size: 2rem;
    }
    div div a{
        font-size: 2.5rem;
    }
}