@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900,900i');

.logo{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}
.logo a{
	height: 20vh;
}
.logo a img{
    height: 100%; 
}
.hautDePage{
    width: 100%;
    margin-bottom: 5vh;
}
.backgrounds{	
	height: 90vh;
	background-image: url('../img/final.jpg');
	background-position: top;
	background-position-y: 80%;
	background-size: cover;
}
.formu{
    font-family:'Playfair Display', serif;
}
.textCentrer{
    text-align: center;
}
@media (min-width:601px){
    .textCentrer{
        text-align: left;
    }
   .objet{
       width: 20%;
   }
   .email{
       width: 30%;
   }
}