@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900,900i');

.panneauItem{
    background: grey;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black; 
}
.confirmCommande{
    color: green;
    text-align: center;
}
.payementRefuser{
    color: red;
    text-align: center;
}
.wrong{
    box-shadow: 5px 5px 15px #FE7676; 
}
.panneauItem div{
    display: inline-flex;
}
.panneauItem div label{
   margin-top: 10%;
}
.panneauItem input{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
.logo{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}
.logo a{
	height: 20vh;
}
.logo a img{
    height: 100%; 
}
.hautDePage{
    width: 100%;
    margin-bottom: 5vh;
}
.backgrounds{	
    background: url("../img/backGrey.png");
    background-size: cover;
}
.formu{
    font-family:'Playfair Display', serif;
}
.textCentrer{
    text-align: center;
}
@media (min-width:601px){
    .confirmCommande{
        color: green;
        text-align: left;
    }
    .payementRefuser{
        color: red;
        text-align: left;
    }
    .panneauItem{
        background: grey;
        border-radius: 10px;
    }
    .panneauItem div label{
     margin-top: 0%;
    }
    .panneauItem div{
        display: inline;
    }
    .grouper{
        display: flex;
    }
    .form-group{      
        margin-right: 2vw;
    }
    .textCentrer{
        text-align: left;
    }
   .taille{
       width: 100%;
   }
   .panneauItem input{
    display: inline;
    margin-left: 10%;
 }
}